body {
    text-align: center;
    margin-top: 100px;
}

form {
    margin-top: 20px;
 
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li {
    float: right;

    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 15px;
    margin-top: 10px;
}