body {
    text-align: center;
    margin-top: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
ul.nav {
    float: right;
}
.logo {
    margin-top: 100px;
    margin-left: 70px;
}

clicks {
    
}